main {
    background-color: grey
}
  
  
  body {
    background-image: url("/background.jpg");
    background-repeat: repeat-x;
    background-color: #d6d6d6;
  }
  
  header {
    display: flex;
    justify-content: center;
  }
  div {
    background-color: #d6d6d6;
  }
  text {
    color: #d6d6d6;
    
  }
  
  
  .mydiv {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin-left: auto;
    justify-content: right;
    height: 400px;
  
  }
  
  .lowpic {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: auto;
    height: 200px;
  }
  
  footer {
    margin: 35%;
    display: flex;
    justify-content: center;
    
  }
  
  